#header-container {
    background: var(--primary);
    color: var(--light);
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 5;
}

#header-container .nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-container .nav h1 {
    margin: 10px;
}

#header-container h2 {
    margin: 0 20px;
}

#header-container .nav button {
    height: 20px;
    width: 70px;
}