input[type="number"] {
    display: inline;
    width: 50px;
}
.priority-high {
    background: red;
    color: white;
}
.priority-medium {
    background: forestgreen;
    color: white;
}
.priority-low {
    background: yellow;
/* <<<<<<< HEAD
======= */
}

.flex{
    display: flex;
    
}
.right{
    margin-left: 20px;
}

.create-form {
    width: 670px !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
    padding: 50px 40px 50px 40px;
    border-radius: 5px;
    background: #fff;
/* >>>>>>> eee9bf56966f676be9f4252c8536f223386ed6a2 */
}