:root {
  --primary: #2814da;
  --secondary: #afafaf;
  --marker:#4195f5 ;
  --hover: #9b91f1;
  --light: #fff;
  --dark: #08083b;
  --high: #aa0000;
  --medium: #4f644f;
  --low: #ffaa00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(61, 61, 61);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, label {
  cursor: pointer
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
