a {
    text-decoration: none;
}

/*#dashboard {
    display: grid;
    grid-template-columns: 100px 1fr;
}*/

#dashboard .sidebar button {
    display: block;
    width: 100%;
    cursor: pointer;
}

#calendar {
    display: block;
}

#calendar td {
    border: solid 1px black;
}

#calendar .nbsp {
    border: none;
}

#calendar .title {
    text-align: center;
    padding: 5px;
}

/*
.column {
    position: relative;
    width: 250px;
    margin: 20px 10px;
    background: moccasin;
}

.column h3 {
    text-align: center;
    padding: 20px;
}
*/
#calendar .drop-container:first-child {
    width: 50px;
}
#calendar .drop-container {
    /* display: grid; */
    /* background: blueviolet; */
    position: relative;
    padding: 10px;
    height: 125px;
    width: 250px;
    border: solid 1px black;
}

#calendar .preview {
    display: block;
    border: solid 1px black;
    background: yellow;
    border-radius: 5px;
    padding: 5px;
    font-weight: 900;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.preview span {
    display: block;
}

.preview:hover {
    opacity: 0.8;
}
/*.drop-container td {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
*/
.drop-container-over {
    background: pink;
}