td{
    border: 2px solid black;
    width: 30px;
    height: 30px;
}

#dashboard {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#dashboard .sidebar button {
    display: block;
    width: 100%;
    cursor: pointer;
}