a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

/*#dashboard {
    display: grid;
    grid-template-columns: 100px 1fr;
}*/



#calendar {
    display: block;
    width: 200%;
    color: white;
    
}

#calendar tr:first-child {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(31, 214, 159);
    font-size:small;
    font-weight: 100;
    color: rgb(56, 56, 56);
    height: 40px
}

#calendar .nbsp {
    border: none;
}

#calendar .title {
    text-align: center;
    padding: 5px;
}

#calendar .drop-container:first-child {
    width: 50px;
    
}
table .column {
    background-color: rgb(51, 51, 51);
}
#calendar .drop-container {
    position: relative;
    padding: 10px;
    height: 125px;
    width: 250px;
    border: solid 0.2px rgb(218, 218, 218);
    vertical-align: top;
    
}

#calendar .preview {
    display: inline-block;
    /* border: solid 1.5px rgb(0, 0, 0); */
    background: rgb(49, 49, 49);
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    height: 100px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    
}

#calendar .preview span {
    display: block;
}

#calendar .preview:hover {
    background-color: rgb(41, 41, 41);
 
}


#calendar .drop-container-over {
    background: rgb(90, 90, 90);
    
}


